* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url("./background.webp"); */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.templates {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.container {
  outline: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.wrapper p {
  font-family: "Otomanopee One", sans-serif;
  color: black;
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid black;
}

.meme-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background-color: whitesmoke;
}
.header {
  font-family: "Otomanopee One", sans-serif;
  color: white;
  padding: 10px;
  margin: 10px;
  text-shadow: 0 0 5px white;
  -webkit-text-stroke-width: 1px;
  font-size: 2rem;
  font-weight: bolder;
  -webkit-text-stroke-color: black;
  user-select: none;
}

.meme {
  text-align: center;
}

.meme img {
  width: auto;
  height: 400px;
}

.meme input {
  font-size: 1rem;
  margin: 1rem 5px;
  padding: 1px 3px;
}

.meme .buttons button {
  padding: 6px 8px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
